core/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
core/bootstrap/compiled.php
core/app/storage/

# Laravel 5 & Lumen specific
core/public/storage
core/public/hot

# Laravel 5 & Lumen specific with changed public path
core/public_html/storage
core/public_html/hot
.idea/

core/storage/*.key
core/.env
core/Homestead.yaml
core/Homestead.json
core/.vagrant
core/.phpunit.result.cache
