// Body
#requireTable{
    th, td{
        white-space: nowrap;
    }
}

.editpanel {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 40px;
    bottom : 40px;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y:scroll;
    transition: 0.5s;
    padding-top: 60px;
    border: solid 2px #c1c1c1;
}

.editpanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
