pranto-ul ul, .pranto-ul li { list-style: none; margin: 0; padding: 0; }
.pranto-ul ul { padding-left: 1em;}
.pranto-ul li { padding-left: 1em;
    border: 1px dotted black;
    border-width: 0 0 1px 1px;
}
.pranto-ul li.container { border-bottom: 0px; width: 100%; }
.pranto-ul li.empty { font-style: italic;
    color: silver;
    border-color: silver;
}
.pranto-ul li p { margin: 0;
    background: white;
    position: relative;
    top: 0.5em;
}
.pranto-ul li ul {
    border-top: 1px dotted black;
    margin-left: -1em;
    padding-left: 2em;
}
.pranto-ul ul li:last-child ul {
    border-left: 1px dotted black;
    margin-left: -17px;
}
.rent-info{
    height: 40px;
}
.rent-info .message{
    color: red;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;

}
.countdown-wrapper{
    margin: 0;
    padding: 0;
}
.single-property{
    min-width:200px ;
}
.countdown.flip-clock-wrapper{
    margin: 0px 20px;
}
.countdown.flip-clock-wrapper ul {
    height: 20px;
    margin: 0 1px;
    width: 19px;
    box-shadow: none;
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);*/
}

.countdown.flip-clock-wrapper ul li {
    line-height: 15px;
}

.countdown.flip-clock-wrapper ul li a div div.inn {
    background-color: #607D8B;
    color: #fff;
    font-size: 15px;
    padding-top: 2px;
    /*text-shadow: 0 0px 0px #000;*/
}

.countdown.flip-clock-wrapper ul,
.countdown.flip-clock-wrapper ul li a div div.inn {
    border-radius: 0px;
}

.countdown.flip-clock-wrapper ul li a div.down {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}



.countdown .flip-clock-dot.top {
    left: 1px;
    top: 6px;
}

.countdown .flip-clock-dot.bottom {
    top: 12px;
    left: 1px;
}

.countdown .flip-clock-dot {
    height: 3px;
    left: 0px;
    width: 3px;
    background: #607D8B;
}

.countdown .flip-clock-divider {
    height: 17px;
    width: 6px;
}
.countdown .flip-clock-divider:first-child {
    width: 0;
}
/*.countdown .flip-clock-divider .flip-clock-label {
    color: #373367;
    font-size: 10px;
    width: 80px;
}*/
.countdown .flip-clock-label{
    position: absolute;
    top: 36px;
    right: -58px;
    color: #fff;
    text-shadow: none;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 7px;
}

.countdown .flip-clock-divider.days .flip-clock-label{
    top: 21px;
    left: -15px;
}
.countdown .flip-clock-divider.hours .flip-clock-label{
    top: 21px;
    left: -10px;
    content:'DD';
}

.countdown .flip-clock-divider.minutes .flip-clock-label {
    top: 21px;
    left: -38px;
}
.countdown .flip-clock-divider.seconds .flip-clock-label{
    top: 21px;
    left: -43px;
}




/*----------------------- welcome message Styling --------------------- */
section .welcome_message{
    width: 90vh;
    margin-top: 9rem;
    padding: 0 3rem 0 3rem;
    word-break: break-word;

}
@media screen and (max-width: 630px){

}
section .welcome_message p{
    font-size: 1.5rem;
    line-height: 0.5rem;
    font-weight: 0.2;
}
section .transaction_message{
    padding: 0 3rem 0 3rem;
    margin-bottom: 3rem;
}
section .transaction_message p{
    font-size: 1.5rem;
    line-height: 0.5rem;
    font-weight: 0.2;
}
/*----------------------- Account Details Styling --------------------- */
.account_details{
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 2rem;
    flex-shrink: 1;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 3rem 1rem 2rem 1rem;
    background-color: rgb(0, 13, 32);
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-radius: 7px;
    box-shadow: 0 .25em .25em -.125em rgba(0,0,0,.25), 0 .5em 1.25em rgba(0,0,0,.5);

}

@media screen and (max-width: 960px){

    .welcome_message{
        padding-top: 10% !important;
    }
    .account_details{
        flex-wrap: wrap;
    }
    .account_details .card_info{
        width:50% !important;
    }
    .account_details .main_balance{
        width:50% !important;
    }
    .account_details .accounts_info{
        margin-top: 3rem !important;
        width: 100% !important;
    }
}
@media screen and (max-width: 630px){
    .welcome_message{
        padding-top: 5% !important;
        margin-top: 10% !important;
    }
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }
    .account_details{
        flex-shrink: 1 !important;
        width: 90vw !important;

    }
    .account_details .card_info{
        width:100% !important;
    }
    .account_details .main_balance{
        width:100% !important;
    }
    .account_details .accounts_info{
        margin-top: 3rem !important;
        flex-direction: column !important;
    }
    .account_details .accounts_balance {
        flex-direction: column;
    }
    .account_details .accounts_balance p{
        width: 100%;
    }
    .account_details .accounts_info .full_profile_btn{
        display: flex;
        align-items: center;

    }
    .account_details .accounts_balance p{
        width: 100% !important;
    }
    .account_details .accounts_info .full_profile_btn #btn{
        width: 100% !important;
    }
}
/* ------------------- */
.account_details .card_info{
    font-weight: 200;
    letter-spacing: 2px;
    font-size: 1.5rem;
    width: 25%;
}
.account_details #thick{
    letter-spacing: 2px;
    font-size: 1rem;
    font-weight: bold;
}
.account_details #fade{
    color: #909497;
    font-size: 1rem;

}
.account_details .main_balance{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
}
.account_details #main_bal{
    color: lime;
    font-size: 3rem ;
    letter-spacing: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 3rem;
}
.account_details sup{
    color: white;
    font-size: 2rem;
}
.account_details .accounts_info{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.account_details .accounts_balance{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.account_details .accounts_balance p{
    width: 50%;
}
.account_details .accounts_balance .green{
    color: lime;
    font-weight: 100;
}
.account_details .accounts_balance .red{
    color: red;
    font-weight: 300;

}

.account_details .accounts_info .full_profile_btn #btn{
    height: 4rem;
    float: right;
    width: 30%;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    background-color: rgb(190, 17, 23);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    color: white;
}
.account_details .accounts_info .full_profile_btn #btn:hover{
    background-color: rgb(190, 85, 88);
}

#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 22px;
}

#clockdiv > div{
    padding: 5px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
    margin: 5px;
}

#clockdiv div > span{
    padding: 5px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}

.smalltext{
    padding-top: 2px;
    font-size: 14px;
}

.header-area {
    position: relative;
    z-index: 0;
    padding-top: 85px;
    padding-bottom: 215px;
    overflow: hidden;
}
.header-area .left-content {
    padding-top: 165px;
}
.header-area .right-content {
    position: static;
}
.header-area .right-content .invest-box-wrapper {
    padding: 20px;
}
.why-us-area .right-content .singl-why-us-box .content .header:after {
    width: 130%;
}
.nav-item {
    position: relative;
}
.dropdown-menu {
    position: absolute;
    top: 105%;
    left: 0;
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}
.nav-item:hover .dropdown-menu {
    top: 100%;
    opacity: 1;
    visibility: visible;
    display: block;
}

@media only screen and (max-width: 575px) {
    .header-area .left-content {
        padding-bottom: 30px;
    }
    .support-bar .support-wrapper {
        height: auto !important;
    }
    input[type=submit], .pranto-anchor, button[type=submit]{
        padding: 20px 15px;
    }
    .button.primary{
        padding: 15px 50px;
    }
}


/*  header-section css start */

/* menu css  */
.header-bottom {
    background-color: #1ABC9C;
}
.navbar {
    padding: 0;
}
.site-logo,
.site-title {
    display: block;
    font-size: 36px;
    line-height: 1;
}
.site-title::first-letter {
    color: var(--main-color);
    font-weight: 700;
}
li.menu_has_children:after {
    position: absolute;
    content: "\f107";
    top: 30px;
    right: 2px;
    color: #ffffff;
    font-family: 'FontAwesome';
    z-index: -10;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 2;
}
li.menu_has_children:hover:after {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
}
.main-menu li {
    position: relative;
}
.main-menu li a {
    text-transform: capitalize;
    font-weight: 600;
    padding: 29px 18px;
    display: inline-block;
    font-size: 16px;
    color: #f5f5f5;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.main-menu li.active > a,
.main-menu li a:hover {
    color: #fff;
}
.main-menu li .sub-menu li.active > a,
.main-menu .sub-menu li a:hover {
    color: #1ABC9C;
}
.sub-menu {
    position: absolute;
    left: -20px;
    top: 125%;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 18px 54px -8px rgba(0,0,0,0.15);
    box-shadow: 0px 18px 54px -8px rgba(0,0,0,0.15);
    width: 220px;
    z-index: 999;
    padding: 15px 0;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
    border-top: 2px solid var(--main-color);
}
.main-menu li:hover > .sub-menu {
    top: 100%;
    opacity: 1;
    visibility: visible;
}
.sub-menu li a {
    padding: 10px 30px;
    display: block;
    color: #333333;
}
.sub-menu li a:hover {
    background-color: rgba(40, 125, 253,0.08);
}
.sub-menu li.menu_has_children:after {
    position: absolute;
    content: "\f105";
    top: 6px;
    right: 30px;
}
.sub-menu li .sub-menu {
    position: absolute;
    top: 0;
    left: 95%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.sub-menu li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    left: 100%;
    top: 0;
}
.header-search-area {
    margin-left: 18px;
    position: relative;
}
.header-search-toggle {
    display: block;
    cursor: pointer;
    padding: 29px 0 29px 15px;
}
.header-search-toggle i {
    font-size: 18px;
    color: #bababa;
}
.header-serach-block {
    position: absolute;
    top: 120%;
    right: 0;
    z-index: 999;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.header-serach-block.closed {
    opacity: 0;
    visibility: hidden;
}
.header-serach-block.opened {
    opacity: 1;
    visibility: visible;
    top: 105%;
    -webkit-box-shadow: 0px 3px 15px 3px rgba(33, 33, 34, 0.125);
    -moz-box-shadow: 0px 3px 15px 3px rgba(33, 33, 34, 0.125);
    box-shadow: 0px 3px 15px 3px rgba(33, 33, 34, 0.125);
}
.header-search-form {
    width: 350px;
}
.header-search-form input {
    width: 80%;
    padding: 10px 20px;
    border: none;
}
.header-search-btn {
    width: 20%;
    cursor: pointer;
    border: none;
    background-color: #ffb606;
}
.navbar-toggler {
    position: relative;
    display: inline-block;
    padding: 15px 20px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border: none;
}
.navbar-toggler:focus {
    outline: none;
    border: none;
}
.menu-toggle {
    position: relative;
    display: block;
    width: 35px;
    height: 20px;
    background: transparent;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    color: var(--primary-color);
    font-size: 0;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
.menu-toggle:before, .menu-toggle:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #000;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: -webkit-transform 0.25s ease-in-out;
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    -o-transition: -webkit-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    -moz-transition: -webkit-transform 0.25s ease-in-out;
    -ms-transition: -webkit-transform 0.25s ease-in-out;
}
span.is-active {
    border-color: transparent;
}
span.is-active:before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}
span.is-active:after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
}
span.menu-toggle:hover {
    color: #ffb606;
}
span.is-active {
    border-color: transparent;
}
span.is-active:before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}
span.is-active:after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
}

@media only screen and (max-width: 991px) {
    .header-area .left-content {
        padding-top: 0;
        padding-bottom: 50px;
    }
    .main-menu li a {
        display: block;
        padding: 10px 0;
    }
    .navbar-collapse {
        margin-top: 20px;
        padding-bottom: 20px;
    }
    li.menu_has_children:after {
        top: 11px;
        right: auto;
        left: 100px;
    }
    .sub-menu {
        position: static;
        opacity: 1;
        visibility: visible;
        display: none;
        transition: none;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
    }
    .sub-menu li a {
        padding: 10px 21px;
    }
    .main-menu li a:hover {
        color: #333333;
    }
    li.menu_has_children:hover:after {
        transform: rotate(0);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
    }
    li.menu_has_children.open:after {
        transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
    }
}

/*==================
About Community CSS
===================*/
.about-right-img {
    position: relative;
}
.about-community .boxed-btn {
    margin-top: 17px;
}
.about-right-img:after{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #42475B;
    opacity: .8;
    content: '';
}
.about-right-img .hover a{
    color: #fff;
}
.about-right-img .hover {
    position:  absolute;
    left: 50%;
    top: 50%;
    width:  60px;
    height: 60px;
    line-height:  60px;
    text-align:  center;
    background:  #746EF1;
    border-radius:  50%;
    transform: translate(-50%,-50%);
    cursor:  pointer;
    z-index: 1;
}
.about-community:after {
    position: absolute;
    width: 50%;
    bottom: -71px;
    left: 0;
    content: "";
    height: 122px;
    background-color: #fff;
    transform: skewY(6deg);
    z-index: 2;
}
.about-community:before {
    position: absolute;
    width: 50%;
    bottom: -71px;
    right: 0;
    content: "";
    height: 122px;
    background-color: #fff;
    transform: skewY(-6deg);
    z-index: 2;
}