/*Large devices (desktops, 1199px and up)*/

@media (max-width: 1199px) {

    .navbar-area ul{
        text-align: left;
    }
    .navbar-area ul li{
        padding: 15px 10px;
        margin-left: 0px;
    }
}

/*--- medium desktop  ---*/

@media screen and (max-width: 1024px) {
    .trusted-source-area .right-content ul li:first-child {
        margin-left: 0;
    }
    .trusted-source-area .right-content ul li {
        margin-left: 18px;
    }

    .header-area .left-content h1 {
        line-height: 60px;
        font-size: 50px;
    }
    .header-area .right-content .invest-box-wrapper {
        margin-left: 30px;
    }
    .section-title h2 {
        font-size: 45px;
    }
    .double-your-coin-area .single-coin-box {
        margin-left: 0;
    }
    .double-your-coin-area .single-coin-box .content h4 {
        font-size: 17px;
    }
    .deposit-area .total-deposit,
    .deposit-area .total-payment {
        padding: 108px 40px 120px 60px;
    }
    .deposit-area .total-payment h3,
    .deposit-area .total-deposit h3 {
        font-size: 55px;
    }
    .why-us-area .right-content .singl-why-us-box .content .header h4 {
        font-size: 16px;
    }
    .all-transation-area .tab-content-area table tbody tr td{
        font-size: 12px;
    }
    .trusted-source-area .left-content h6{
        font-size: 16px;
    }
}


/*Large devices (desktops, 992px and up)*/

@media (max-width: 992px) {
    table {
        border: 0;
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }
    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }
    table td:before {
        /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table td:last-child {
        border-bottom: 0;
    }
    .logo{
        text-align: center;
        margin: 0 auto;
        display: block;
        margin-top: 25px;
    }
    .navbar-area.nav-fixed .logo{
    
        margin-top: 5px;
    }
    .navbar-area.nav-fixed .logo img {
        margin-top: 0px;
    }
    .navbar-area ul{
        margin: 0px 0px;
         padding: 20px 0px;
    }
    .navbar-area ul li{
        padding: 5px 10px;
    }
    .header-area {
    padding-top: 50px;
    padding-bottom: 600px;
}
.trusted-source-area .right-content ul li{
    margin-bottom: 20px;
}
.double-your-coin-area .single-coin-box.yellow:before{
    display: none;
}
.double-your-coin-area .single-coin-box.yellow:after{
    display: none;
}
.double-your-coin-area .single-coin-box.blue:before{
    display: none;
}
.double-your-coin-area .single-coin-box.blue:after{
    display: none;
}
.double-your-coin-area .single-coin-box.green:before{
    display: none;
}
.double-your-coin-area .single-coin-box.green:after{
    display: none;
}
.double-your-coin-area .single-coin-box.red:before{
    display: none;
}
.double-your-coin-area .single-coin-box.red:after{
    display: none;
}
.double-your-coin-area .single-coin-box{
    margin-bottom: 50px;
}
.deposit-area .total-deposit, .deposit-area .total-payment{
    padding:50px 40px 50px 60px
}

}


/* Tablet Layout: 768px. */

@media (max-width: 768px) {
    .logo{
        text-align: left;
        margin: 0;
        display: inline;
        margin-top: 0px;
    }
    #primary-menu {
        display: none !important;
    }
    .slicknav_menu {
        display: block;
    }
    .responsive-menu {
        position: relative;
    }
    .navbar-area .slicknav_menu {
        background: transparent;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 9;
    }
    .navbar-area .slicknav_btn {
        background: transparent;
        text-shadow: none;
        margin-bottom: 40px;
    }
    .navbar-area .slicknav_menu .slicknav_icon-bar {
        background: #fff;
        box-shadow: none;
        width: 30px;
        height: 3px;
        margin-bottom: 5px;
    }
    .navbar-area .navbar-area .slicknav_menu.nav-fixed {
        position: fixed;
        z-index: 99;
        top: 10px;
    }
    .navbar-area .navbar-area .slicknav_nav {
        width: 100%;
    }
    .navbar-area .navbar-area ul.slicknav_nav {
        background: #000;
    }
    .navbar-area .navbar-area li.slicknav_collapsed.slicknav_parent a i {
        display: none;
    }
    .navbar-area .slicknav_nav .slicknav_row,
    .navbar-area .slicknav_nav a {
        margin: 0;
        border-radius: 0;
        text-transform: uppercase;
    }
    .navbar-area .slicknav_nav a:hover,
    .navbar-area .slicknav_nav .slicknav_row:hover {
        background: transparent;
        color: #fff;
    }
    .navbar-area .slicknav_btn.slicknav_open {
        transform: rotate(30deg);
    }
    .navbar-area .slicknav_btn .slicknav_icon-bar {
        transition: .3s;
    }
    .navbar-area .slicknav_btn.slicknav_open .slicknav_icon-bar:first-child {
        display: none;
    }
    .navbar-area .slicknav_btn.slicknav_open .slicknav_icon-bar:nth-child(2) {
        transform: rotate(110deg);
    }
    .navbar-area .slicknav_btn.slicknav_open .slicknav_icon-bar:nth-child(3) {
        transform: rotate(9deg);
        margin-top: -7px;
    }
    .navbar-area .slicknav_menu li a i {
        display: none;
    }
    .navbar-area .slicknav_btn {
        margin-bottom: 23px;
    }
    .navbar-area ul.slicknav_nav li a,
    .navbar-area ul.slicknav_nav li ul li {
        padding: 10px 20px;
        color: #333;
    }
    .navbar-area ul.slicknav_nav li {
        display: block;
        width: 300px;
        margin-right: 0;
        padding-right: 0;
        background: #F6F6F6;
        z-index: 9;
        border-bottom: 0;
        padding: 0;
        text-align: left;
    }
    .navbar-area ul.slicknav_nav li:first-child {
        margin-left: 0;
    }
    .navbar-area ul.slicknav_nav li.active,
    .navbar-area ul.slicknav_nav li:hover {
        background-color: #333;
        color: #fff;
    }
    .navbar-area .slicknav_nav a:hover,
    .navbar-area .navbar-area .slicknav_nav .slicknav_row:hover {
        background: transparent;
    }
    .navbar-area li.slicknav_parent.slicknav_open ul {
        position: initial;
        visibility: visible;
        display: block;
        opacity: 1;
        margin: 0;
        padding: 0;
        width: 100%;
        border: none;
    }
    .navbar-area li.active.slicknav_parent.slicknav_open ul.sub-menu li,
    .navbar-area li.slicknav_parent.slicknav_open ul.sub-menu li {
        padding: 0;
        padding-left: 20px;
    }
    .navbar-area ul.slicknav_nav li.active a,
    .navbar-area ul.slicknav_nav li:hover a {
        color: #fff;
    }
    .navbar-area .logo {
        padding: 15px;
    }
    .navbar-area ul.slicknav_nav li.active a:after,
    .navbar-area ul.slicknav_nav li.active a:before,
    .navbar-area ul.slicknav_nav li a:before,
    .navbar-area ul.slicknav_nav li a:after {
        display: none;
    }
    table {
        border: 0;
    }
    table caption {
        font-size: 1.3em;
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }
    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }
    table td:before {
        /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table td:last-child {
        border-bottom: 0;
    }
    .support-bar {
        background-color: #000D20;
    }
    .navbar-area ul.slicknav_nav li {
        border-radius: 0;
    }
    .navbar-area.nav-fixed .slicknav_menu {
        top: -60px;
    }
    .navbar-area.nav-fixed .logo img {
        margin-top: 0;
    }
    .why-us-area .left-content {
        margin-bottom: 50px;
    }
    .footer-social {
        margin-top: 15px;
    }
    .navbar-area {
        padding: 20px 0;
    }
    .header-area {
        padding-top: 50px;
        padding-bottom: 600px;
    }
    .header-area .right-content .invest-box-wrapper {
        margin-left: 15px;
        margin-top: 50px;
    }
    .trusted-source-area .right-content{
        text-align: center;
    }
    .trusted-source-area .right-content ul li {
        margin-right: 15px;
        margin-bottom: 20px;
        margin-left: 0px;
    }
    .trusted-source-area .right-content ul li:nth-child(3n+1) {
        margin-left: 0;
    }
    .double-your-coin-area {
        padding-top: 70px;
    }
    .double-your-coin-area .single-coin-box.yellow:after {
        display: none;
    }
    .double-your-coin-area .single-coin-box.yellow:before {
        display: none;
    }
    .double-your-coin-area .single-coin-box.blue:after {
        display: none;
    }
    .double-your-coin-area .single-coin-box.blue:before {
        display: none;
    }
    .double-your-coin-area .single-coin-box.green:before {
        display: none;
    }
    .double-your-coin-area .single-coin-box.green:after {
        display: none;
    }
    .double-your-coin-area .single-coin-box.red:before {
        display: none;
    }
    .double-your-coin-area .single-coin-box.red:after {
        display: none;
    }
    .double-your-coin-area .single-coin-box {
        margin-bottom: 30px;
    }
    .footer-area {
        margin-top: -382px;
    }
    .trusted-source-area .left-content{
        text-align: center;
        display: block;
        margin-bottom: 30px;
    }
    .section-title h2{
        font-size: 40px;
    }
    .why-us-area .left-content .content h4{
        font-size: 20px;
    }
    .all-transation-area{
        padding: 80px 0px 60px 0px;
    }
    .why-us-area{
        padding-bottom: 0px;
    }
    .all-transation-area .tab-navbar-area .nav-tabs .nav-link, .all-transation-area .tab-navbar-area .nav-tabs .nav-link:focus, .all-transation-area .tab-navbar-area .nav-tabs .nav-link:hover{
        width: 150px;
         padding: 12px 20px;
    }
     .all-transation-area .tab-navbar-area .nav-tabs .nav-link.active{
        padding: 12px 20px;
        width: 150px;
     }
     .all-transation-area .tab-navbar-area .nav-tabs .nav-link h4, .all-transation-area .tab-navbar-area .nav-tabs .nav-link:focus h4, .all-transation-area .tab-navbar-area .nav-tabs .nav-link:hover h4{
        font-size: 14px;
      }
      .all-transation-area .tab-navbar-area .nav-tabs .nav-link h4 .number, .all-transation-area .tab-navbar-area .nav-tabs .nav-link:focus h4 .number, .all-transation-area .tab-navbar-area .nav-tabs .nav-link:hover h4 .number{
        font-size: 16px;
      }
     .all-transation-area .tab-navbar-area .nav-tabs .nav-link.active h4{
        font-size: 14px;
      }
      .all-transation-area .tab-navbar-area .nav-tabs .nav-link.active h4 .number{
        font-size: 16px;
      }
      .footer-logo{
        text-align: center;
        display: block;
      }
      .footer-area .footer-social{
        text-align: center;
        margin-top: 15px;
      }
      .footer-area .footer-social ul{
        display: inline-block;
        margin: 0 auto;
      }
      .support-bar {
        text-align: center;
      }
      .support-bar .support-bar-right{
        text-align: center;
      }
      .navbar-area .slicknav_menu {
            top: -60px;
        }
        .navbar-area ul.slicknav_nav li{
            margin-left: 0px;
        }
        .double-your-coin-area .single-coin-box{
            margin: 0px 0px;
        }

}

/* Mobile Layout: 320px. */

@media (max-width: 576px) {
    #primary-menu {
        display: none !important;
    }
    .slicknav_menu {
        display: block;
    }
    .responsive-menu {
        position: relative;
    }
    .navbar-area .slicknav_menu {
        background: transparent;
        position: absolute;
        right: 0;
        top: 0px;
        z-index: 9;
    }
    .navbar-area .slicknav_btn {
        background: transparent;
        text-shadow: none;
        margin-bottom: 40px;
    }
    .navbar-area .slicknav_menu .slicknav_icon-bar {
        background: #fff;
        box-shadow: none;
        width: 30px;
        height: 3px;
        margin-bottom: 5px;
    }
    .navbar-area .navbar-area .slicknav_menu.nav-fixed {
        position: fixed;
        z-index: 99;
        top: 10px;
    }
    .navbar-area .navbar-area .slicknav_nav {
        width: 100%;
    }
    .navbar-area .navbar-area ul.slicknav_nav {
        background: #000;
    }
    .navbar-area .navbar-area li.slicknav_collapsed.slicknav_parent a i {
        display: none;
    }
    .navbar-area .slicknav_nav .slicknav_row,
    .navbar-area .slicknav_nav a {
        margin: 0;
        border-radius: 0;
        text-transform: uppercase;
        color: #333;
    }
    .navbar-area .slicknav_nav a:hover,
    .navbar-area .slicknav_nav .slicknav_row:hover {
        background: transparent;
        color: #fff;
    }
    .navbar-area .slicknav_btn.slicknav_open {
        transform: rotate(30deg);
    }
    .navbar-area .slicknav_btn .slicknav_icon-bar {
        transition: .3s;
    }
    .navbar-area .slicknav_btn.slicknav_open .slicknav_icon-bar:first-child {
        display: none;
    }
    .navbar-area .slicknav_btn.slicknav_open .slicknav_icon-bar:nth-child(2) {
        transform: rotate(110deg);
    }
    .navbar-area .slicknav_btn.slicknav_open .slicknav_icon-bar:nth-child(3) {
        transform: rotate(9deg);
        margin-top: -7px;
    }
    .navbar-area .slicknav_menu li a i {
        display: none;
    }
    .navbar-area .slicknav_btn {
        margin-bottom: 23px;
    }
    .navbar-area ul.slicknav_nav li a,
    .navbar-area ul.slicknav_nav li ul li {
        padding: 10px 20px;
    }
    .navbar-area ul.slicknav_nav li {
        display: block;
        width: 300px;
        margin-right: 0;
        padding-right: 0;
        background: #F6F6F6;
        z-index: 9;
        border-bottom: 0;
        padding: 0;
        text-align: left;
    }
    .navbar-area ul.slicknav_nav li:first-child {
        margin-left: 0;
    }
    .navbar-area ul.slicknav_nav li.active,
    .navbar-area ul.slicknav_nav li:hover {
        background-color: #333;
        color: #fff;
    }
    .navbar-area .slicknav_nav a:hover,
    .navbar-area .navbar-area .slicknav_nav .slicknav_row:hover {
        background: transparent;
    }
    .navbar-area li.slicknav_parent.slicknav_open ul {
        position: initial;
        visibility: visible;
        display: block;
        opacity: 1;
        margin: 0;
        padding: 0;
        width: 100%;
        border: none;
    }
    .navbar-area li.active.slicknav_parent.slicknav_open ul.sub-menu li,
    .navbar-area li.slicknav_parent.slicknav_open ul.sub-menu li {
        padding: 0;
        padding-left: 20px;
    }
    .navbar-area ul.slicknav_nav li.active a,
    .navbar-area ul.slicknav_nav li:hover a {
        color: #fff;
    }
    .navbar-area .logo {
        padding: 15px;
    }
    .navbar-area ul.slicknav_nav li.active a:after,
    .navbar-area ul.slicknav_nav li.active a:before,
    .navbar-area ul.slicknav_nav li a:before,
    .navbar-area ul.slicknav_nav li a:after {
        display: none;
    }
    .navbar-area .boxed-btn.blank {
        margin-left: -50px;
        display: inline-block;
        font-size: 10px;
        padding: 10px 15px;
        margin-top: 18px;
    }
    .navbar-area .slicknav_menu {
        top: 10px;
    }
    .back-to-top {
        display: none;
    }
    .navbar-area .boxed-btn.blank {
        margin-left: -50px;
        display: inline-block;
        font-size: 10px;
        padding: 10px 15px;
        margin-top: 18px;
    }
    .navbar-area .slicknav_menu {
        top: 40px;
    }
    .navbar-area.nav-fixed {
        height: 180px;
    }
    .support-bar .support-bar-left ul li:first-child {
        padding-left: 10px;
    }

    .navbar-area.nav-fixed {
        position: inherit;
    }
    .navbar-area .slicknav_menu {
        top: -60px;
    }
    .navbar-area ul.slicknav_nav li {
        width: 280px;
    }
    .header-area .left-content h1 {
        line-height: 45px !important;
        font-size: 35px !important;
    }
    .header-area .right-content .invest-box-wrapper {
        padding: 20px !important;
        margin-left: 0px !important;
        padding-top: 40px !important;
    }
    .trusted-source-area .right-content ul li {
        margin: 0 !important;
        padding: 0 !important;
        display: block !important;
        margin: 0 auto !important;
        margin-bottom: 30px !important;
        text-align: center !important;
    }
    .trusted-source-area .right-content {
        text-align: center;
        display: block;
    }
    .trusted-source-area .right-content ul li img {
        display: block;
        margin: 0 auto;
    }
    .trusted-source-area .left-content {
        display: block;
        text-align: center;
        margin-bottom: 30px;
    }
    .section-title h2 {
        font-size: 35px !important;
        line-height: 45px;
    }
    .double-your-coin-area .single-coin-box {
        padding: 20px;
        width: 100%;
    }
    .double-your-coin-area .single-coin-box .icon {
        position: inherit;
        text-align: center;
        margin: 0 auto;
        left: 0;
    }
    .double-your-coin-area .single-coin-box .content {
        padding-left: 0;
        padding-top: 60px;
        text-align: center;
        padding-bottom: 20px;
    }
    .deposit-area .total-deposit,
    .deposit-area .total-payment {
        padding: 20px !important;
        padding-top: 60px !important;
        padding-bottom: 80px !important;
    }
    .deposit-area .total-deposit .balance,
    .deposit-area .total-payment .balance {
        font-size: 30px !important;
        line-height: 40px !important;
    }
    .deposit-area .total-payment .payment-form-wrapper .form-element input[type=text],
    .deposit-area .total-deposit .deposit-form-wrapper .form-element input[type=text] {
        width: 100%;
    }
    .deposit-area .total-payment .payment-form-wrapper .form-element input[type=submit],
    .deposit-area .total-deposit .deposit-form-wrapper .form-element input[type=submit] {
        position: inherit;
        margin-top: 20px;
        width: 100%;
    }
    .deposit-area .total-payment h3,
    .deposit-area .total-deposit h3 {
        font-size: 28px !important;
        line-height: 40px !important;
    }
    .nav-tabs .nav-item {
        display: block;
        width: 100%;
    }
    .all-transation-area .tab-navbar-area .nav-tabs .nav-link,
    .all-transation-area .tab-navbar-area .nav-tabs .nav-link:focus,
    .all-transation-area .tab-navbar-area .nav-tabs .nav-link:hover {
        display: block;
        width: 100%;
    }
    .all-transation-area .tab-content-area table tbody tr td {
        font-size: 12px;
    }
    .faq-area .accordion-wrapper .card .card-header h5 button {
        white-space: normal;
        font-size: 14px;
        padding-right: 50px;
        border-radius: 40px;
    }
    .footer-area {
        margin-top: -400px;
    }
    .footer-logo {
        display: block;
    }
    .footer-logo img {
        display: block;
        margin: 0 auto;
    }
    .footer-social {
        text-align: center;
    }
    .all-transation-area .tab-navbar-area .nav-tabs .nav-link.active{
        width: auto;
        margin-right: 0px;
    }
    .small-font-size-in-mobile-device{
        font-size: 14px;
    }

    #copyBoard.has-icon input{
        font-size: 12px;
    }
}

/* Wide Mobile Layout: 375px. */

@media only screen and (max-width: 414px) {
    .section-title h2 {
        font-size: 25px !important;
       
    }
    .faq-area .accordion-wrapper .card .card-header h5 button{
        font-size: 12px;
        padding: 16px 15px;
    }
    .header-area .left-content h1 {
        line-height: 45px !important;
        font-size: 25px !important;
    }
}

/* Wide Mobile Layout: 375px. */

@media only screen and (max-width: 360px) {
    .section-title h2 {
        font-size: 22px !important;
    }
    .faq-area .accordion-wrapper .card .card-header h5 button{
        padding: 16px 6px;
        font-size: 10px;
    }
    .support-bar .support-wrapper {
        height: 65px;
        line-height: 30px;
    }
    .support-bar .support-bar-left {
        float: none;
        padding-left: 0px;
        display: block;
    }
    .support-bar .support-bar-right {
        text-align: center;
        display: block;
        float: none;
    }
    .deposit-area .total-payment .payment-form-wrapper .form-element input[type=text], .deposit-area .total-deposit .deposit-form-wrapper .form-element input[type=text] {
    width: 60%;
}
.deposit-area .total-deposit .deposit-form-wrapper .form-element button[type="button"]{
    width: 140px;
}
}